body{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
.electrical {
   background: url(../images/circuit3.gif);
   width: 50%;
   position: absolute;
   top: 25%;
   left: 0px;
   height: 50%;
   
}
.software {
   background: url(../images/code.gif);
   width: 50%;
   position: absolute;
   top: 25%;
   right: 0px;
   height: 50%;
   
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.electrical:hover .overlay, .software:hover .overlay {
  opacity: 0.9;
}

.text {

  color: white;
  font-size: 50px;
  font:	Typewriter;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}